/* google fonts css start */
.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-fonts{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* google fonts css end */

/* main css start*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* main css end *

/* common css start */
.primary-color{
    color: #4E47FF;
}
.color1{
    color: #252432;
}
.color2{
    color: rgba(37, 36, 50, 0.5);
}
.common-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 12px 36px
}
.common-btn:hover{
    background-color: #0900FD;
    font-size: 17px;
    padding: 13px 37px;
    border-radius: 6px;
}
/* common css end */

/* header css start */
.header{
    background-image: url('assets/Hero-bg.png');
    margin-bottom: 150px;
}
.site-logo{
    font-size: 34px;
    font-weight: 900;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}
.main-nav a{
    text-decoration: none;
    font-size: 16px;
}
.header-banner{
    text-align: center;
    padding: 100px 200px;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 35px;
}
/* header css end */

/* action section css start */
.action-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.see-action{
    padding: 50px 100px 50px 0px;
}
.action-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.action-description{
    font-size: 24px;
    margin-bottom: 20px;
}
.action-img{
   padding-left: 100px;
}
.action-img img{
    border-radius: 45px;
}
/* action section css end */

/* productive section css start */
.productive-section{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    text-align: center;
}
.pro-section-title{
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 38px;
    font-weight: 700;
}
.productive-container{
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-bottom: 40px;
}
.pro-user-titile{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: 700;
}
.pro-user-des{
    font-size: 18px;
    margin-top: 5px;
}
/* productive section css end */

/* review section css start */
.review-section{
    margin: 75px 0;
}
.review-section-title{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.review-scontainer{
    display: flex;
}
.review-card{
    width: 30%;
    padding: 10px;
    background-color: #F1F0FF;
    border-radius: 10px;
    margin-left: 15px;
}
.card-title{
    font-size: 25px;
    font-weight: 700;
    margin: 5px 0;
}
.reviewer{
    display: flex;
    align-items: center;
}
.reviewer-img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.p-bold{
    margin-bottom: 5px;
    font-weight: 700;
}
.p-date{
    margin-bottom: 5px;
}
/* review section css end */
/* get in touch section css start */
.get-intouch{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
.contact-container-title{
    width: 50%;
    margin-top: 20px;
}
.contact-form{
    width: 50%;
}
.contact-title{
    font-size: 80px;
    font-weight: 700;
}
.label{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.get-intouch input[type="text"], .get-intouch input[type="email"], .get-intouch textarea{
    display: block;
    width: 100%;
    border: 1px solid #000000;
    background-color: #F1F0FF;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 10px 0;
}
.footer{
    background-color: #F1F0FF;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}
.footer-container{
    margin: auto;
    width: 40%;
}
.footer-description{
    font-size: 15px;
    color: #8987A1;
}
.footer-menu a{
    font-size: 15px;
    font-weight: 500;
    color: #8987A1;
    text-decoration: none;
    margin-left: 20px;
}
.footer-menu a:hover{
    text-decoration: underline;
    color: #4E47FF;
}